header {
  font-family: 'Oswald', 'LeckerliOne', 'Oswald';
  padding-top: 0;
  padding-bottom: 0;
}

header nav {
  padding-bottom: .5rem;
}


header li a{
  color: var(--gray);
  transition: all 0.2s ease-in-out;
}

header .menu-left li a {
  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 0% 0.2em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  font-size: 22px;
  font-weight: 500;
  height: 40px;
}
header .menu-left li a:hover,
header .menu-left li a.active {
  color: var(--white);
  background-size: 50% 0.2em;
}
header .menu-right li a {
  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 0% 0.2em;
  background-position-y: 100%;
  background-position-x: 100%;
  background-repeat: no-repeat;
  font-size: 22px;
  font-weight: 500;
  height: 40px;
}

header .menu-right li a:hover,
header .menu-right li a.active {
  color: var(--white);
  background-size: 50% 0.2em;
}

.mobile-menu {
  width: 100% !important;
}

@media screen and (min-width: 1024px) {
  
  header nav {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  header.sticky {
    animation-duration: .1s;
    animation-delay: .3s;
    animation-fill-mode: both;
    -webkit-animation-duration: .1s;
    -webkit-animation-delay: .3s;
    -webkit-animation-fill-mode: both;
    animation-name: slideInDown;
    -webkit-animation-name: slideInDown;
    background: #00000047;
  }

  .logo-container {
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 71px);
    width: 142px;
    height: 142px;
    top: 1px;
    border-bottom: 5px solid var(--gold);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
  }
}